.App {
  text-align: center;
  background-color: #fffefb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Lato', sans-serif !important;
}

.title {
  color: black;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  max-width: 500px;
  margin-bottom: 10px;
}

.alert {
  max-width: 80%;
  margin-bottom: 1em !important;
}

.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

canvas {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid #d9d9d9;
}

.clear-pad {
  text-align: right;
  margin-bottom: 20px;
}

.ant-picker {
  margin-bottom: 10px !important;
}

.ant-select {
  width: 100% !important;
  text-align: left !important;
}

input {
  margin-bottom: 10px !important;
}

.ant-btn-primary {
  background-color: black !important;
  border-color: black !important;
}

span.label {
  color: rgba(0, 0, 0, 0.35);
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
}

.footerText {
  text-align: center;
  color: black;
  font-size: 12px;
  margin-bottom: 10px;
}

.link {
  font-size: 12px;
  color: black;
  text-decoration: underline;
  margin-bottom: 10px;
}

.warning {
  font-style: italic;
}
