.App {
  text-align: center;
  background-color: #fffefb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Lato', sans-serif !important;
  padding-top: 20px;
}

.title {
  color: black;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  max-width: 500px;
  margin-bottom: 10px;
}

.alert {
  max-width: 80%;
  margin-bottom: 1em !important;
}

.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

canvas {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid #d9d9d9;
}

.clear-pad {
  text-align: right;
  margin-bottom: 20px;
}

.ant-picker {
  margin-bottom: 10px !important;
}

.ant-select {
  width: 100% !important;
  text-align: left !important;
}

input {
  margin-bottom: 10px !important;
}

.form-error-label {
  text-align: left;
  color: #fa343f;
  font-size: 12px;
  margin-bottom: 10px;
}

.ant-btn-primary {
  background-color: black !important;
  border-color: black !important;
}

.ant-btn-primary:disabled {
  color: white;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.ant-btn-primary:disabled:hover {
  color: white;
}

span.label {
  color: rgba(0, 0, 0, 0.35);
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
}

.footerText {
  text-align: center;
  color: black;
  font-size: 12px;
  margin-bottom: 10px;
}

.link {
  font-size: 12px;
  color: black;
  text-decoration: underline;
  margin-bottom: 10px;
}

.warning {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.bmc-button img {
  height: 34px !important;
  width: 35px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}
.bmc-button {
  margin-bottom: 25px !important;
  padding: 7px 10px 7px 10px !important;
  line-height: 35px !important;
  height: 51px !important;
  min-width: 217px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #ffffff !important;
  background-color: #ff813f !important;
  border-radius: 5px !important;
  border: 1px solid transparent !important;
  padding: 7px 10px 7px 10px !important;
  font-size: 28px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  /* margin: 0 auto !important; */

  font-family: 'Cookie', cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}
.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #ffffff !important;
}
